* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: auto;
}

.heading {
  text-align: center;
  margin: 10px;
}

.dropdown-btn-container {
  display: flex;
  justify-content: center;
  gap: 20px;

  .btn-container {
    display: flex;
    gap: 7px;
  }
  margin: 20px auto;
}

.search-container {
  display: flex;
  justify-content: center;
}

.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
